# dependencies
/nativeClient/node_modules
/backend/node_modules
/nativeClient/.pnp
.pnp.js

# testing
/nativeClient/coverage

# production
/nativeClient/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
